$ff: 'Josefin Sans', sans-serif;

$fs-xsmall: 0.65rem;
$fs-small: 0.9rem;
$fs-medium: 1rem;
$fs-large: 1.1rem;
$fs-xlarge: 1.2rem;

$fw-lighter: 300;
$fw-light: 400;
$fw-regular: 500;
$fw-bold: 600;
$fw-bolder: 700;

$sp-small: 1em;
$sp-medium: 2em;
$sp-large: 4em;
$sp-xlarge: 5em;

$clr-blue: rgb(61, 31, 197);
$clr-red: rgb(223, 70, 70);
$clr-yellow: rgb(209, 230, 96);
$clr-skyblue: rgb(124, 178, 240);
$clr-purple: rgb(222, 154, 231);
$clr-green: rgb(118, 230, 164);